@model IEnumerable<WebApiDesafio.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
}

<style>
    /* Estilos para a tabela */
    .table {
        width: 100%;
        border-collapse: collapse;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

        .table th,
        .table td {
            padding: 12px 15px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        /* Estilos para a cabeçalho da tabela */
        .table th {
            background-color: #333;
            color: white;
        }

        /* Estilos para linhas alternadas */
        .table tbody tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        /* Estilos para os links de ação */
        .table a {
            text-decoration: none;
            margin-right: 10px;
            color: #007bff;
        }
</style>

<h1>Clientes</h1>

<p>
    <a asp-action="Create">Criar novo cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logotipo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Logotipo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClienteID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ClienteID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ClienteID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
